.all-box {
  height: 500px;
  width: 400px;
  margin: 20px auto; /* 中央に配置 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; /* 角を丸くする */
  text-align: center;
}

.display-layout {
  height: 100px;
  width: 100%;
  text-align: right;
  font-size: 60px;
  display: block;
  margin: 0 auto;
}

.input-form {
  width: 100%;
}

.input-form input {
  font-size: 50px;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  border: none;
  margin: 8px;
}
.solo {
  padding-bottom: 10px;
}
.operator {
  background-color: #ff9500;
}

input:hover {
  background-color: darkgrey;
}

.operator:hover {
  background-color: #e68600;
}

input:active {
  background-color: dimgrey;
}

.operator:active {
  background-color: #a86810;
}
